.home-container {
	display: flex;
	height: 450px;
	height: 550px; 
	border-radius: 0.5rem;
	overflow: hidden;
	background-color: rgba(156, 163, 175, 0.25);
	backdrop-filter: blur(10px); }

@media (min-width: 640px) {
	.home-container {
		height: 450px;
	}
}

@media (min-width: 768px) {
	.home-container {
		height: 550px; 
	}
}
